// Setting up scss variables
$font-family: 'Montserrat Alternates', sans-serif;

$body-bg: black;
$main-color: rgb(5, 146, 132);
$txt-color: rgb(211, 247, 243);;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29 px 0px 0px;
$border-radius: 30px;
$header-height: 8rem;
$header-shrink-height: 5rem;

$mobile-width: 600px;
$tablet-width: 1024px;


